.tree-transfer {
  position: relative;
  // display: flex;
  .el-transfer-panel {
    width: 42.5%;
  }
  .el-transfer-panel__body {
    padding: 0;
    min-height: 200px;
    height: auto;
  }
  .el-scrollbar__view {
    padding: 0 10px 10px;
  }
  .el-transfer__buttons {
    width: 15%;
    padding: 0;
    display: inline-flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    .el-button + .el-button {
      margin-left: 0;
    }
  }
  .el-button [class*=el-icon-]+span {
    margin-left: 0;
  }
}